body {
    background-color: whiteSmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}
.color-1 {
    background-color: #C2728E;
    height: 230px;
}
.color-2 {
    background-color: #7278C2;
    height: 300px;
}
.color-3 {
    background-color: #C272BF;
    height: 180px;
}
.color-4 {
    background-color: #72C291;
    height: 350px;
}
.color-5 {
    background-color: #C29F72;
    height: 400px;
}
.color-6 {
    background-color: #8DC272;
    height: 450px;
}
.color-7 {
    background-color: #9A72C2;
    height: 370px;
}
.color-8 {
    background-color: #72BDC2;
    height: 350px;
}
.color-9 {
    background-color: #C27472;
    height: 500px;
}
.color-10 {
    background-color: #C2C272;
    height: 300px;
}
.title {
    font-weight: bold;
    margin: 5px 0;
}
.tile {
    width: 230px;
    padding: 15px 15px 0;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(25, 25, 25, 0.4);
       -moz-box-shadow: 0 1px 3px rgba(25, 25, 25, 0.4);
            box-shadow: 0 1px 3px rgba(25, 25, 25, 0.4);
}
.tile .header {
    /*height: 230px;*/
}
.tile .footer {
    height: 50px;
    color: white;
    background-color: #e9e9e9;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;               
    -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
}
.fluid-layout {
    position: relative;
    width: 275px; /* 1 Column */
    min-width: 275px;
    margin: 0 auto;
}
.fluid-layout .tile {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
}
.fluid-layout .tile.positioned {
    visibility: visible;
    opacity: 1;
}

/** Responsive **/

/* 2 Columns */
@media (min-width: 550px) and (max-width: 824px) {
    .fluid-layout {
        width: 550px;
    }
}
/* 3 Columns */
@media (min-width: 825px) and (max-width: 1109px) {
    .fluid-layout {
        width: 825px;
    }
}
/* 4 Columns */
@media (min-width: 1100px) and (max-width: 1374px) {
    .fluid-layout {
        width: 1100px;
    }
}
/* 5 Columns */
@media (min-width: 1375px) and (max-width: 1649px) {
    .fluid-layout {
        width: 1375px;
    }
}
/* 6 Columns */
@media (min-width: 1650px) and (max-width: 1924px) {
    .fluid-layout {
        width: 1650px;
    }
}